body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0px;
}

/*Header-Section*/

header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
}

.containerHeader {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerLogo {
    font-weight: bold;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a,
.secondary {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/*Content-Group1*/

.content1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.containerContentOne {
    width: 75%;
    display: flex;
}

.textContentOne {
    width: 50%;
}

.picOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: grey;
}

.headerContentOne {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0px;
}

#signUpOne {
    width: 150px;
    background-color: #3882F6;
    padding: 10px;
    font-weight: bold;
    border: 0px;
    border-radius: 12px;
}

/*Content-Group 2*/

.content2 {
    display: flex;
    justify-content: center;
    min-height: 500px;
}

.containerContentTwo {
    width: 60%;
}

.headerContentTwo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.pictures {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.picWithText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    color: #1F2937;
    gap: 10px;
}

.multiPic {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 12px;
}

/*Content-Group 3*/

.content3 {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.containerContentThree {
    width: 60%;
}

.textContentThree {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin: 0px;
}

.citationSource {
    font-weight: 900;
    text-align: end;
    font-size: 24px;
}

/*Content-Group 4*/

.content4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.containerContentFour {
    width: 60%;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 50px 100px;
}

.leftContentFour {
    display: flex;
    flex-direction: column;
}

.headerContentFour {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.textContentFour {
    font-size: 18px;
    color: #E5E7EB
}

.signUpTwo {
    padding: 5px 20px;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    border-radius: 12px;
}

/*Footer*/

footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}